@*
@model List<ObjetoEscuelaBase>
*@

<table class= "table table-dark table-hover table-sm">
    <head>
        <tr>
            <th scope="col">Nombre </th>
            <th scope="col">Id</th>
        </tr>
    </head>
    <tbody>
        @foreach (var obj in Model)
        {
            <tr>
                <td>@obj.Nombre</td>
                <td>@obj.Id</td>
                <td>
                    <button type="button" class="btn btn-light" >
                        <a class="nav-link text-dark" asp-action="Update" asp-route-id = "@obj.Id" >Actualizar</a>
                    </button>
                </td>           
                <td>
                    <button type="button" class="btn btn-danger">
                        <a class="nav-link text-light" asp-action="Delete" asp-route-id = "@obj.Id" >Eliminar</a>
                    </button>
                </td>
            </tr>
        }
    </tbody>
</table>k
