<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Platzi cSharp</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
    <body>
        <section style="border: black;" >
            <div class="container" style="text-align: center; color: white;width: 50;position: relative;background-color: grey;"  >
                @RenderBody()
            </div>
            
        </section>
    </body>
</html>
