@model Alumno


@{
    ViewData["Title"]= "Información Alumno";
}


<h1>  @ViewData["Title"]</h1>

<strong>Vista Parcial</strong>

<partial name ="ObjetoEscuelaBaseSimple" />




<p> Server time: <i>@ViewBag.Fecha</i></p>