@model Alumno


@{
    ViewData["Title"]= "Información Alumno";
    Layout="Simple";
}


<h1>  @ViewData["Title"]</h1>

<strong>Vista Normal</strong>
<p> 
   <strong>Nombre:</strong>  @Model.Nombre <br>
    <strong>Unique ID:</strong> @Model.Id
</p>

<strong>Vista Parcial</strong>

<partial name ="ObjetoEscuelaBaseSimple" />




<p> Server time: <i>@ViewBag.Fecha</i></p>