@model List<Alumno>


@{
    ViewData["Title"]= "Información Alumnos";
}


<h1>  @ViewData["Title"]</h1>

<br>
<di >  
    <button type="button" class="btn btn-success">
        <a class="nav-link text-light" asp-area="" asp-controller="Alumno" asp-action="Create">Crear Alumno</a>
    </button>
</di>
<partial  name="ListaObjetoEscuelaBase" ></partial>

<p> Server time: <i>@ViewBag.Fecha</i></p>