@model Asignatura

@{
    ViewData["Title"]= "Información Asignaturas";
    Layout="Simple";
}


<h1>  @ViewData["Title"]</h1>

<strong>Vista Parcial</strong>

<partial name ="ObjetoEscuelaBaseSimple" />




<p> Server time: <i>@ViewBag.Fecha</i></p>