@model IEnumerable<Asignatura>

@{
    ViewData["Title"]= "Información Asignaturas";
}


<h1>  @ViewData["Title"]</h1>
<br>
<di >  
    <button type="button" class="btn btn-success">
        <a class="nav-link text-light" asp-area="" asp-controller="Asignatura" asp-action="Create">Crear Asignatura</a>
    </button>
</di>
<partial name="ListaObjetoEscuelaBase" ></partial>





<p> Server time: <i>@ViewBag.Fecha</i></p>