@model List<Asignatura>

@{
    ViewData["Title"]= "Información Asignaturas";
    Layout="Simple";
}


<h1>  @ViewData["Title"]</h1>

<strong>Vista Parcial</strong>

@foreach (var asignatura in Model)
{
    <partial name ="ObjetoEscuelaBaseSimple" model= "asignatura" />    
}






<p> Server time: <i>@ViewBag.Fecha</i></p>