@model Curso

@{
    ViewData["Title"] = "Elimininación del Curso de Curso";
}

<h1>@ViewData["Title"]</h1>

<div asp-validation-summary="All" style="color: red;" ></div>
<form method="POST">
    <div >
        <h4>¿Deseas borrar este registro?</h4>
        <h3> @Model.Nombre</h3>                
    </div>

    <input type="button" value="Si"/>
    
</form>

<p><i>@ViewBag.Fecha</i></p>