@model List<Curso>


@{
    ViewData["Title"]= "Información Cursos";
    Layout="Simple";
}


<h1>  @ViewData["Title"]</h1>

<strong>Vista Parcial</strong>

<partial  name="ListaObjetoEscuelaBase" ></partial>

<p> Server time: <i>@ViewBag.Fecha</i></p>