@model List<Curso>


@{
    ViewData["Title"]= "Información Cursos";
}


<h1>  @ViewData["Title"]</h1>
<br>
<di >  
    <button type="button" class="btn btn-success">
        <a class="nav-link text-light" asp-area="" asp-controller="Curso" asp-action="Create">Crear Curso</a>
    </button>
</di>
<partial  name="ListaObjetoEscuelaBase" ></partial>

<p> Server time: <i>@ViewBag.Fecha</i></p>